body {
    padding-top: 70px; /* Ajuste conforme necessário */
}

#portal{
    /* Remova o espaçamento interno */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    text-align: justify;
    margin-right: 15px;
  }


  #bar{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: bold;
   color: aliceblue;
    text-align: justify;
    margin-right: 15px;
}


.d-flex {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  font-weight: bold;
 color: aliceblue;
}

#bar1{
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  font-weight: bold;
 color: aliceblue;
  text-align: justify;
  margin-right: 15px;
  margin-left: 15px;
}



.custom-navbar {
  height: 56px; /* Altura fixa */
  /* Outros estilos personalizados se necessário */
}

@media (max-width: 991.98px) {
  .custom-navbar {
     height: auto; /* Altura automática para dispositivos menores */
  }
}